/*
*
* Global
*
*/

body{
    background-color: #aeb6bf;
}

h1{
    text-align: center;
}

nav{
    padding: 0 1% 0 1%;
}

fieldset{
    box-shadow: 6px 6px 0;
    border: 2px ridge black;
    border-radius:0 10px 0 10px;
}

.redPlug,.greenPlug,.bluePlug,.yellowPlug{
    margin: 0 2% 0 2%;
}


/*
*
* Index.html
*
*/

#index_h1{
}

/* RED */
.redPlug{
}

.redPlug fieldset{
    color: #b11721;
}

/* GREEN */
.greenPlug{
}

.greenPlug fieldset{
    color: #30880c;
}

/* Blue */
.bluePlug{
}

.bluePlug fieldset{
    color: #0b40a9;
}

    /* Yellow */
.yellowPlug{
}

.yellowPlug fieldset{
    color: #e4ff02;
}

/*
*
* help.html
*
*/

#help_h1{
}

/*
*
* Responcive (pour les mobile et tablette)
*
*/
@media screen and (max-width: 1080px){
}
