body{
    font-family: 'Times New Roman', Times, serif !important;
}

nav{
    line-height: 0rem;
}

fieldset{
    box-shadow: 6px 6px 0;
    border: 2px ridge black;
    border-radius:0 10px 0 10px;
    padding: 0.75rem;
}

label{
    /* color: black; */
    color: inherit;
}

input::placeholder{
    color: blue;
}

.bg-gris{
    background-color: #aeb6bf;
}

.bg-lynch{
    background-color: #95a5a6;
}

.bg-hoki{
    background-color: #67809f;
}

.nav-link {
    display: block;
    padding: 1.5rem 1.5rem;
}

.redPlug fieldset{
    color: #b11721 !important;
}

.greenPlug fieldset{
    color: #30880c !important;
}

.bluePlug fieldset{
    color: #0b40a9 !important;
}

.yellowPlug fieldset{
    color: #e4ff02 !important; 
}

/* .colorRed{
    color: #b11721;
} */

.modeSelector{
    color: black;
}

.div_subSummary{
    color: black;
    }

.div_subSummary h5{
    text-align: center;
    margin: 0;
    padding: 0;
}

.submitReset{
    text-align: center;
}

/* .form_error { 
    display: inline-block; 
    color: #FF4F4F;
    padding: 10px; 
} */

.infobulle{
    position: absolute;
    background: #FF4F4F;
    padding:3px 7px;
    opacity: 50%;
    /* margin: border radius 3px; */
    border-radius:0 10px 0 10px;
    color:black;
    text-align: center;
}

.plugSelector{
    /* background: #ecf0f1; */
}

.Red, .Green, .Blue, .Yellow {
    max-width: 150px;
}

.div_cloneRed, .div_cloneGreen, .div_cloneBlue, .div_cloneYellow {
    text-align: center;
}

.toCloneBTN{
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #DCC6E0;
    /* border: 1px ridge black; */
    padding: 5px 5px;
    border-radius: 15px;
    box-shadow: 9px 9px #999;
}

.toCloneBTN:hover {background-color: #ab69c6}

.toCloneBTN:active {
    background-color: #3e005d;
    box-shadow: 5px 5px #666;
    transform: translateY(4px);
  }