body{
    font-family: 'Times New Roman', Times, serif !important;
}

nav{
    line-height: 0rem;
}

fieldset{
    box-shadow: 6px 6px 0;
    border: 2px ridge black;
    border-radius:0 10px 0 10px;
    padding: 0.75rem;
}

label{
    /* color: black; */
    color: inherit;
}

input::placeholder{
    color: blue;
}

[type="checkbox"] + span:not(.lever){
    padding-left: 20px !important;
    margin-left: 10px !important;
}

.bg-gris{
    /* background-color: #aeb6bf; */
    background-color: #d6eaf8;
}

.bg-lynch{
    background-color: #95a5a6;
}

.bg-hoki{
    background-color: #67809f;
}

.bg-warning{
    background-color: #fffc47 !important;
}

.nav-link {
    display: block;
    padding: 1.5rem 1.5rem;
}

.redPlug fieldset{
    color: #b11721 !important;
}

.greenPlug fieldset{
    color: #30880c !important;
}

.bluePlug fieldset{
    color: #0b40a9 !important;
}

.yellowPlug fieldset{
    /* color: #e4ff02 !important;  */
    color: #fffc47 !important; 
}

/* .colorRed{
    color: #b11721;
} */

.modeSelector{
    color: black;
}

.div_subSummary{
    color: black;
    }

.div_subSummary h5{
    text-align: center;
    margin: 0;
    padding: 0;
}

.submitReset{
    text-align: center;
}

.infobulle{
    position: absolute;
    background: #FF4F4F;
    padding:3px 7px;
    opacity: 50%;
    /* margin: border radius 3px; */
    border-radius:0 10px 0 10px;
    color:black;
    text-align: center;
}

/* .plugSelector{
    background: #ecf0f1;
} */

/* .Red, .Green, .Blue, .Yellow {
    max-width: 150px;
    max-width: 25%;
    max-height: auto;
} */

.div_cloneRed, .div_cloneGreen, .div_cloneBlue, .div_cloneYellow {
    text-align: center;

}

.toCloneBTN{
    max-width: 25%;
    max-height: auto;
    cursor: pointer;
    /* outline: none; */
    color: #fff;
    /* background-color: #c7d0d4; */
    /* background-color: #d7dbdd; */
    padding: 5px 5px;
    border-radius: 50%;
    /* box-shadow: 9px 9px #999; */
}

.toCloneBTN:hover {background-color: #ab69c6}

.toCloneBTN:active {
    background-color: #3e005d;
    box-shadow: 5px 5px #666;
    transform: translateY(4px);
  }